<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>  
<li>
    <a href="/produtos/<%= produto.id%>">
      <h2><%= produto.nome %></h2>
      <p><%= produto.preco %></p>
      <h1><%= produto.descricao %></h1>
      <img src="/chutes.jpg" alt="Imagem do Produto 2" />
    </a>
  </li>
 </h1>
</body>
</html>